a {
	color: $white;

	&:hover, &:focus, &:active {
		color: $white;
	}

	&.red {
		color: $red;
		font-weight: 600;
		text-decoration: underline;

		&:hover, &:focus, &:active:focus {
			text-decoration: underline;
		}
	}
}