//misc
$background: url('/img/background.jpg') no-repeat fixed;

//typography
$font-family: "Open Sans", sans-serif;
$font-size: 14px;

//colors
$red: #F84241;
$blue: #465A65;
$blue-lighter: #829ba8;
$gray: #E4E4E4;
$gray-darker: #ADADAD;
$white: #ffffff;

$text-color: $blue;
