//misc
$background: url('/img/background.jpg') no-repeat fixed;

//typography
$font-family: "Open Sans", sans-serif;
$font-size: 14px;

//colors
$red: #F84241;
$blue: #465A65;
$gray: #E4E4E4;
$white: #ffffff;


/*
$layout-width: 1000px;

//typography

//colors
$light-blue: #2196F3;
$dark-blue: #0069d9;
$dirty-blue: #6d8aa5;
$red: #ff4b4b;
$smooth-gray: #e2e2e2;
$medium-gray: #7a797a;
$dark-gray: #525252;
$body-color: #333333;
$links-color: $light-blue;
$links-color-active: $dark-blue;
*/
