@import '_variables.scss';
@import '~bootstrap/scss/bootstrap';
@import '_links.scss';

body {
	background: $background;
	background-size: cover;
	color: $text-color;
	font-family: $font-family;
	font-size: $font-size;
	
	:focus {
		outline:none;
	}

	::-moz-focus-inner {
		border: 0;
	}

	button:focus {
		outline: none;
	}

	label {
		font-weight: normal;
	}

	input[type="checkbox"] {
		+ label {
			margin-left: 5px;
			cursor: pointer;
		}
	}
	
	.toasted {
		&.toasted-primary {
			padding: 15px;
		}

		> svg:first-child {
			margin-right: 10px;
		}
	}
}