@import '_variables.scss';
@import '~bootstrap/scss/bootstrap';

body{
	:focus {
		outline:none;
	}

	::-moz-focus-inner {
		border: 0;
	}
	
	.toasted {
		&.toasted-primary {
			padding: 15px;
		}

		> svg:first-child {
			margin-right: 10px;
		}
	}
}